<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <style>
        .record-form {
            max-width: 400px;
            margin: auto;
        }

        .water-history-table {
            margin-top: 20px;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Water Records App</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link active" th:href="@{/dashboard}">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/graph}">Graph</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">

        <!-- Display water Record history -->
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h2 class="text-center">Water Record History</h2>
                <table class="table table-striped table-bordered water-history-table">
                    <thead class="thead-dark">
                        <tr>
                            <th>Date</th>
                            <th>Quantity (ml)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="entry : ${waterRecordHistory}">
                            <td th:text="${entry.date}"></td>
                            <td th:text="${entry.amount}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Form to record water Record -->
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h2 class="text-center">Record Water</h2>
                <form method="post" th:action="@{/dashboard/recordWater}" class="record-form">
                    <div class="form-group">
                        <label for="quantity">Quantity (ml):</label>
                        <input type="number" class="form-control" id="quantity" name="quantity" required>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Record</button>
                </form>
            </div>
        </div>
    </div>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em"
        crossorigin="anonymous"></script>
</body>

</html>